.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    color:#81FE88;
    padding-top:32px;
    font-weight: 500;
    font-size: 37px;


}
.description{
    color:#BCBCBC;
    font-weight: 400;
    font-size: 26px;

}
.link{
    color: #BFFFC3;
    padding-top: 32px
   

}
.link span{
    cursor: pointer;
    padding-right:5px;
   ;
}