.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px; 
  
   
}
.container{
    display: flex;
    flex-direction: column;
}

.pagination {
 
    grid-column: 1 / -1;
    display: flex;
    justify-content: center; 
    gap: 24px;               
  }


.link{

    display: inline-block;  
    width: 100%;
    text-align: center;
    color:#BFFFC3;
    cursor: default;

}
.link span:hover{
    color: #60d668;
    cursor: pointer;
}
